.timeline-yr {
    width: 5rem;
    height: 5rem;
    --bg-opacity: 1;
    background-color: #47465A;
    background-color: rgba(71, 70, 90, var(--bg-opacity));
    border-radius: 9999px;
    position: relative;
    float: left;
    margin-right: 2rem;
}

.timeline-content-title-primary {
    text-transform: capitalize;
    font-size: 1rem;
    --text-opacity: 1;
/*     color: #484848;
    color: rgba(72, 72, 72, var(--text-opacity)); */
    font-weight: 700;
    font-size: 1.875rem;
    margin-left: 2rem;
    display: block;
}

.timeline-content-title-secondary {
    text-transform: capitalize;
    font-size: 1rem;
    --text-opacity: 1;
   /*  color: #47465A;
    color: rgba(71, 70, 90, var(--text-opacity)); */
    font-weight: 900;
}

.timeline-content-text {
    --text-opacity: 1;
   /*  color: #5b5b5b;
    color: rgba(91, 91, 91, var(--text-opacity)); */
    letter-spacing: 0.025em;
    font-size: 1.125rem;
    font-weight: 300;
    margin-left: 6rem;
}

.timeline-yr>span {
    top: 50%;
    left: 50%;
    position: absolute;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    font-weight: 600;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    --transform-translate-x: -50%;
    --transform-translate-y: -50%;
}

.timeline::before {
    content: "";
    background: #47465A;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 38px;
}

@media (min-width: 1024px) {
    .timeline-content-title-primary {
        display: inline;
    }

    .timeline-content-title-secondary {
        margin-left: 0.75rem
    }

    .timeline-yr {
        margin-right: 0;
    }
}